/* Подвал */
footer .container {
  display: flex;
  padding-bottom: 60px;
}
footer .contact-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  background-color: #2f303a;
}
footer .logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-left-side {
  padding-top: 60px;
  margin-right: 69px;
}

.footer-center-side {
  padding-top: 72px;
  margin-right: 94px;
}

.slogan {
  display: block;
  margin-bottom: 20px;
}

footer .social-list {
  padding-left: 0px;
  padding-bottom: 100px;
}

.footer-center-side .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.footer-center-side .social-link:hover,
.footer-center-side .social-link:focus {
  background-color: var(--accent-color);
}

.footer-center-side .social-list-item-svg {
  fill: #fff;
}

.contact-list-address,
.contact-list-mail,
.contact-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-theme-color);
}
.contact-list-mail,
.contact-list-tel {
  opacity: 0.6;
}

.contact-list .address,
.contact-list .mail {
  margin-bottom: 9px;
}
.slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}
