/* Подвал */
footer .container {
  display: flex;
  padding-bottom: 60px;
}
footer .contact-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  background-color: #2f303a;
}
footer .logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-left-side {
  padding-top: 60px;
  margin-right: 69px;
}

.footer-center-side {
  padding-top: 72px;
  margin-right: 94px;
}

.slogan {
  display: block;
  margin-bottom: 20px;
}

footer .social-list {
  padding-left: 0px;
  padding-bottom: 100px;
}

.footer-center-side .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.footer-center-side .social-link:hover,
.footer-center-side .social-link:focus {
  background-color: var(--accent-color);
}

.footer-center-side .social-list-item-svg {
  fill: #fff;
}

.contact-list-address,
.contact-list-mail,
.contact-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-theme-color);
}
.contact-list-mail,
.contact-list-tel {
  opacity: 0.6;
}

.contact-list .address,
.contact-list .mail {
  margin-bottom: 9px;
}
.slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}
/* Форма */
.footer-right-side {
  margin-top: 72px;
}
.footer-right-side .slogan {
  margin-bottom: 20px;
}

.footer-right-side-form {
  display: flex;
}

.footer-form-input {
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  width: 358px;
  height: 50px;

  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--dark-theme-color);
  opacity: 0.6;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: #2f303a;
  outline: none;
}

.footer-form-button {
  display: flex;

  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-weight: 700;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);

  background-color: var(--accent-color);

  align-items: center;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-form-button-txt {
  margin-right: 10px;
}

.footer-form-button-svg {
  fill: var(--dark-theme-color);
}

/* Модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--title-color);
  font-size: 20px;
  line-height: 1, 15;

  letter-spacing: 0.03em;
}

.modal-input-container {
  position: relative;

  margin-bottom: 28px;
}

.modal-input-label {
  position: absolute;

  top: 50%;
  left: 42px;

  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;
  transition: color 250ms var(--timing-function),
    font-size 250ms var(--timing-function),
    transform 250ms var(--timing-function), left 250ms var(--timing-function);
}

.modal-input-label-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}

.modal-input,
.modal-comment {
  width: 100%;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.modal-input {
  padding-left: 42px;
  height: 40px;
}

.modal-comment {
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
  height: 120px;
}

.modal-input:hover,
.modal-input:focus,
.modal-input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-input:hover + .modal-input-label,
.modal-input:focus + .modal-input-label,
.modal-input:not(:placeholder-shown) + .modal-input-label {
  left: 18px;
  transform: translateY(-40px);
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input:hover ~ .modal-input-label-icon,
.modal-input:focus ~ .modal-input-label-icon,
.modal-input:not(:placeholder-shown) ~ .modal-input-label-icon {
  fill: var(--accent-color);
}

.modal-comment-container {
  position: relative;
  display: flex;
}

.modal-comment-label {
  position: absolute;
  top: 12px;
  left: 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;
  transition: color 250ms var(--timing-function),
    font-size 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.modal-comment:hover,
.modal-comment:focus,
.modal-comment:not(:placeholder-shown) {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-comment:hover + .modal-comment-label,
.modal-comment:focus + .modal-comment-label,
.modal-comment:not(:placeholder-shown) + .modal-comment-label {
  transform: translateY(-32px);
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.agreement {
  display: flex;
  align-items: center;

  padding-left: 12px;
  margin-bottom: 30px;
}

.agreement-checkbox {
  display: flex;
  margin-right: 7px;

  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 1.8px solid #212121;
  border-radius: 2px;
  background-color: #fff;
  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.checked-icon {
  fill: transparent;
  transition: fill 250ms var(--timing-function);
}

.modal-checkbox:checked + .agreement-checkbox > .checked-icon {
  fill: #ffffff;
}

.modal-checkbox:checked + .agreement-checkbox {
  background-color: var(--accent-color);
  border: 1.8px solid var(--accent-color);
}

.agreement-txt,
.agreement-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement-txt {
  display: flex;
  align-items: center;
  color: #757575;
  margin-right: 5px;
}

.agreement-link {
  color: var(--accent-color);
}

.modal-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-clor 250ms var(--timing-function);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 9px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-button-close-icon {
  fill: #000;
  transition: fill 250ms var(--timing-function);
}

.modal-button-close:hover .modal-button-close-icon,
.modal-button-close:focus .modal-button-close {
  fill: var(--accent-color);
}
