/* Шапка */

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 85px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}
.navigation-list,
.address-list {
  padding-left: 0px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.address-list {
  margin-left: auto;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms var(--timing-function);
}

.navigation-list-item {
  position: relative;
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  transition: opacity 250ms var(--timing-function);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.navigation-list-link,
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-list-item {
  display: flex;
  align-items: center;
}

.icon-mail {
  align-items: baseline;
}

.adress-list-link {
  color: #757575;
  transition: color 250ms var(--timing-function);
}

.address-list-item-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms var(--timing-function);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.address-list-item:hover .address-list-item-svg,
.address-list-item:focus .address-list-item-svg {
  fill: var(--accent-color);
}

.address-list-item:hover .adress-list-link,
.address-list-item:focus .adress-list-link {
  color: var(--accent-color);
}
