html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: $main-font;
}

img {
  display: block;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
  padding-left: 0px;
}
