html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$dark-theme-color: #ffffff;
$title-color: #212121;
$desription-color: #757575;
$accent-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

body {
  background-color: #ffffff;
  font-family: $main-font;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
  padding-left: 0px;
}

/* Социальные ссылки */

.social-list {
  display: flex;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
